################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LanguageTopics/.vs
/LanguageTopics/LanguageTopics/bin/Debug/net6.0
/LanguageTopics/LanguageTopics/obj
/LanguageTopics/LanguageTopicsTests/bin/Debug/net6.0
/LanguageTopics/LanguageTopicsTests/obj
